*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.App {
  width: 640px;
  margin: auto;
  
}
#restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurant {
  color: black;
  width: 195px;
  padding: 5px;
  margin: 2px;
  border: solid 2px black;
  border-radius: 5px;
  text-align: center;
}
a {
  text-decoration: none;
}
.restaurant:hover {
  border: solid 2px rgb(255, 145, 0);
  color: rgb(255, 145, 0);
  cursor: pointer;
}
.restaurant>* {
  display: block;
}
.dish-type-section {

  padding: 5px;
  margin-bottom: 5px;;
}
.dish-type-section>h3 {
  font-size: 26px;
}
.dish {
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 30%;
}
.dish>h4 {
  font-style: italic;
  font-weight: normal;
  padding: 5px;
  margin: 0px;
  border-bottom: solid 2px black;
}
.menu {
  margin-bottom: 20px;
}
h2 {
  font-size: 40px;
}

.dish-section {
  display: flex;
  flex-wrap: wrap;
}