*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.App {
  width: 640px;
  margin: auto;
  
}
#restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurant {
  color: black;
  width: 195px;
  padding: 5px;
  margin: 2px;
  border: solid 2px black;
  border-radius: 5px;
  text-align: center;
}
a {
  text-decoration: none;
}
.restaurant:hover {
  border: solid 2px rgb(255, 145, 0);
  color: rgb(255, 145, 0);
  cursor: pointer;
}
.restaurant>* {
  display: block;
}
